.botonusuario{
    border: 1px solid #92c800;
    height: 40px;
    line-height: 36px;
    min-width: 130px;
    text-align: center;
    color: #92c800;
    font-size: 16px;
    border-radius: 2px;
    letter-spacing: 0.5px;
}

.botonusuario a:hover{
    background-color: #92c800;
    color: #ffffff;
}